@{
    ViewData["Title"] = "Javascript ile Kategori CRUD İşlemleri";
}

<h1>Javascript ile Kategori CRUD İşlemleri</h1>

<p class="alert alert-light">
    Javascript fetch ile tüm crud işlemleri örneği
</p>

<table id="Kategoriler" class="table table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Resim</th>
        <th>Durum</th>
        <th>Anasayfa</th>
        <th></th>
    </tr>
    <tbody id="list"></tbody>
</table>

<input type="hidden" id="Id" />

<hr />

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Yeni Kayıt
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Kategori Adı</td>
                        <td>
                            <input type="text" value="" id="Name" name="Name" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Açıklama</td>
                        <td>
                            <textarea id="Description" name="Description" rows="5" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Resim</td>
                        <td>
                            <input type="file" id="Image" name="Image" />
                            <div id="resim"></div>
                            <input type="hidden" id="ImageName" />
                        </td>
                    </tr>
                    <tr>
                        <td>Durum</td>
                        <td>
                            <input type="checkbox" id="IsActive" name="IsActive" value="" />
                            <label for="IsActive">Aktif</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Anasayfa</td>
                        <td>
                            <input type="checkbox" id="IsHome" name="IsHome" value="" />
                            <label for="IsHome">Göster</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button class="btn btn-primary" onclick="Add()">Ekle</button>
                <button class="btn btn-success" onclick="Update()">Güncelle</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function GetAll() {
            fetch("https://localhost:7125/api/categories") // fetch metodunu bu şekilde istek atacağımız sunucuyu parametre vererek kullanıyoruz
                .then(response => response.json()) // bu satır apiden dönen sonucu json a dönüştürür
                .then(data => {
                    // console.log(data) // api den dönen nesneyi tarayıcı konsoluna bastır
                    console.log(data) // api den dönen ürün listesini tarayıcı konsoluna bastır
                    let div = document.getElementById("list") // ekrandaki products id li elemeti seç
                    data.forEach(p => { // gelen data içindeki products listesinde forEach ile dön
                        // listedeki her bir ürünü
                        div.innerHTML += `<tr>
                                            <td>${p.id}</td>
                                            <td>${p.name}</td>
                                    <td><img src="https://localhost:7125/Images/${p.image}" alt="" height="34" /></td>
                                            <td>${p.isActive}</td>
                                            <td>${p.isHome}</td>
                                            <td>
                                                <input type="button" name="edit" value="Düzenle" class="btn btn-primary" onclick="Edit(${p.id})" data-bs-toggle="modal" data-bs-target="#exampleModal" />
                                                <input type="button" name="delete" value="Sil" class="btn btn-danger" onclick="Delete(${p.id})" />
                                            </td>
                                           </tr>` // yatay tırnak  klavyeden ctrl + alt + , e basarak açılıyor
                    })/**/
                })
                .catch(error => {
                    // eğer api isteğinde hata oluşursa burada yakalayıp kullanabiliriz
                    console.warn(error)
                    alert(error + " Hatası Oluştu!")
                    // veya burada db de logs tablosu yapıp kaydedebiliriz.
                })
        }
        GetAll();
        function Add() {
            if (!document.getElementById("Name").value) { // eğer kategori adı boşsa
                alert("Kategori Adı Boş Geçilemez!") // uyarı ver
                return false; // geri dön
            }
            // dosya yükleme
            var formData = new FormData();
            var fileField = document.querySelector("input[type='file']"); // dosya yükleme elementini bul
            formData.append("formFile", fileField.files[0]);

            fetch("https://localhost:7125/api/categories", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    Name: document.getElementById("Name").value,
                    Description: document.getElementById("Description").value,
                    Image: formData.get("formFile").name, // document.getElementById("Image").value,
                    IsActive: document.getElementById("IsActive").checked,
                    IsHome: document.getElementById("IsHome").checked
                }) // body bitiş
            }) // fetch bitiş
                .then((response) => {
                    if (response.ok) { // eğer işlem sonucu başarılıysa sunucudan ok cevabı geliyor
                        upload(formData);
                        location.reload(); // sayfayı yenile
                    }
                    else {
                        throw new Error("İşlem Başarısız Oldu!") // hata fırlat
                    }
                }) // then bitiş
                .catch(error => {
                    console.error("Hata Oluştu!", error)
                    alert("Hata Oluştu!")
                })
        }
        function Edit(id) {
            fetch("https://localhost:7125/api/categories/" + id)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    // bize gelen 1 tane datayı inputlara dolduruyoruz
                    document.getElementById("Id").value = data.id
                    document.getElementById("Name").value = data.name
                    document.getElementById("Description").value = data.description
                    document.getElementById("ImageName").value = data.image
                    document.getElementById("resim").innerHTML = `<img src="https://localhost:7125/Images/${data.image}" alt = "" height = "34" />`
                    document.getElementById("IsActive").checked = data.isActive
                    document.getElementById("IsHome").checked = data.isHome
                })
        }
        function Update() {
            if (!document.getElementById("Name").value) { // eğer kategori adı boşsa
                alert("Kategori Adı Boş Geçilemez!") // uyarı ver
                return false; // geri dön
            }
            // dosya yükleme
            var formData = new FormData();
            var fileField = document.querySelector("input[type='file']"); // dosya yükleme elementini bul
            formData.append("formFile", fileField.files[0]);

            var id = document.getElementById("Id").value
            var resim = document.getElementById("ImageName").value

            // eğer güncellemede yeni dosya seçilmişse
            if (fileField.files[0]) {
                resim = formData.get("formFile").name
            }

            fetch("https://localhost:7125/api/categories/" + id, {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    Id: id,
                    Name: document.getElementById("Name").value,
                    Description: document.getElementById("Description").value,
                    Image: resim, // document.getElementById("Image").value,
                    IsActive: document.getElementById("IsActive").checked,
                    IsHome: document.getElementById("IsHome").checked
                }) // body bitiş
            }) // fetch bitiş
                .then((response) => {
                    if (response.ok) { // eğer işlem sonucu başarılıysa sunucudan ok cevabı geliyor
                        upload(formData);
                        location.reload(); // sayfayı yenile
                    }
                    else {
                        throw new Error("İşlem Başarısız Oldu!") // hata fırlat
                    }
                }) // then bitiş
                .catch(error => {
                    console.error("Hata Oluştu!", error)
                    alert("Hata Oluştu!")
                })
        }
        function Delete(id) {
            if (confirm("Kaydı Silmek İstiyor Musunuz?")) {
                fetch("https://localhost:7125/api/categories/" + id, {
                    method: "DELETE",
                    headers: { "Content-Type": "application/json" }
                    // body bitiş
                }) // fetch bitiş
                    .then((response) => {
                        if (response.ok) { // eğer işlem sonucu başarılıysa sunucudan ok cevabı geliyor
                            location.reload(); // sayfayı yenile
                        }
                        else {
                            throw new Error("İşlem Başarısız Oldu!") // hata fırlat
                        }
                    }) // then bitiş
                    .catch(error => {
                        console.error("Hata Oluştu!", error)
                        alert("Hata Oluştu!")
                    })
            }
        }

        // Js ile apiye resim yükleme
        async function upload(formData) {
            try {
                const response = await fetch("https://localhost:7125/api/upload", {
                    method: "POST",
                    body: formData
                        });
                const result = await response.json();
                console.log(result);
            }
            catch (error) {
                console.log(error);
            }
        }
    </script>
}