<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">

        <div class="col mb-3 me-auto">
            <h5>BİZE ULAŞIN</h5>
            <address>
                <strong>Infotech Akademi</strong><br>
                Kadıköy Şube: Osmanağa Mah. Söğütlü Çeşme Cd. No:31 Kadıköy/İstanbul
                <br />
                Şişli Şube: Büyükdere Cad. Saadet Apt. No: 65/3 Şişli / İstanbul
                <abbr title="Telefon">Telefon:</abbr> 0 212 909 21 89
            </address>
            <address>
                <strong>Email adresimiz</strong><br>
                <a href="mailto:info@infotechacademy.com">info@infotechacademy.com</a>
            </address>
        </div>

        <div class="col mb-3">
            <h5>KURUMSAL YAPIMIZ</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Hakkımızda</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Eğitim Anlayışımız</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Mezuniyet Sonrası</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">İnsan Kaynakları</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Bize Ulaşın</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>ÖNE ÇIKAN EĞİTİMLER</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Yazılım Uzmanlığı Eğitimi (MCSD)</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Python İle Veri Bilimi ve Yapay Zeka Eğitimi (İleri Düzey)</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Python Eğitimi (Uygulamalı Programlama Kursu)</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Mobil Oyun Geliştirme (Unity) Eğitimi</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Flutter Kursu-Eğitimi ile Mobil Uygulama Geliştirme</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>SIKÇA SORULAN SORULAR</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sertifika veriyor musunuz?</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Kurslara katılabilmek için yaş sınırı var mı?</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sınıflar maksimum kaç kişilik?</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">İş bulmada destek oluyor musunuz?</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Eğitim ücretleriniz ne kadar?</a></li>
            </ul>
        </div>
    </footer>
</div>
