@using MVCNetCoreKurumsalSiteProje.ExtensionMethods
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="/Images/logoInfotechAcademy.png" class="img-fluid" />
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Anasayfa</a></li>
            <li><a href="/hakkimizda" class="nav-link px-2 link-secondary">Hakkımızda</a></li>
            @await Component.InvokeAsync("Categories")
            <li><a href="/iletisim" class="nav-link px-2 link-secondary">İletişim</a></li>
        </ul>
        <form asp-controller="Posts" asp-action="Search" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input name="q" type="search" class="form-control form-control-dark" placeholder="Ara..." aria-label="Search">
        </form>
        <div class="text-end">
            <button type="button" class="btn btn-outline-primary me-2">Giriş</button>
            <button type="button" class="btn btn-primary">Kayıt</button>
        </div>
        <div class="dropdown">
            @{
                Cart cart = Context.Session.GetJson<Cart>("Cart");
                if (cart != null)
                {
                    <a class="nav-link px-2 link-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi-cart-fill me-1"></i> Sepet
                        <span class="badge bg-primary text-white ms-1 rounded-pill">@cart.Products.Count</span>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in cart.Products)
                        {
                            <li>
                                <a class="dropdown-item" href="/Products/Detail/@item.Product.Id">
                                    <img src="/Images/@item.Product.Image" alt="" width="34" />
                                @item.Product.Name</a>
                            </li>
                        }
                        <li class="text-center">
                            <a class="btn btn-success mt-2" asp-controller="Cart" asp-action="Index">Sepete Git</a>
                        </li>
                    </ul>
                }
                else
                {
                    <a class="btn btn-outline-primary" href="/Cart">
                        <i class="bi-cart-fill me-1"></i>
                        Sepet
                        <span class="badge bg-primary text-white ms-1 rounded-pill">0</span>
                    </a>
                }
            }
        </div>
    </header>
</div>