@model IEnumerable<Category>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="/Images/logoInfotechAcademy.png" class="img-fluid" />
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Anasayfa</a></li>
            <li><a href="/hakkimizda" class="nav-link px-2 link-secondary">Hakkımızda</a></li>
            <li class="dropdown">
                <a class="nav-link px-2 link-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Eğitimlerimiz
                </a>

                <ul class="dropdown-menu">
                    @foreach (var item in Model)
                    {
                        <li><a class="dropdown-item" href="/Categories/Index/@item.Id">@item.Name</a></li>
                    }
                </ul>
            </li>
            <li><a href="#" class="nav-link px-2 link-secondary">Sık Sorulan Sorular</a></li>
            <li><a href="/iletisim" class="nav-link px-2 link-secondary">İletişim</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Giriş</button>
            <button type="button" class="btn btn-primary">Kayıt</button>
        </div>
    </header>
</div>
