@model IEnumerable<Category>

<li class="dropdown">
    <a class="nav-link px-2 link-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Eğitimlerimiz
    </a>

    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            <li><a class="dropdown-item" href="/Categories/Index/@item.Id">@item.Name</a></li>
        }
        @* <li><a class="dropdown-item" href="/Posts">Tüm Eğitimlerimiz</a></li> *@
        <li><a class="dropdown-item" asp-controller="Posts" asp-action="Index">Tüm Eğitimlerimiz</a></li>
    </ul>
</li>
<li class="dropdown">
    <a class="nav-link px-2 link-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Ürünlerimiz
    </a>

    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            <li><a class="dropdown-item" href="/Products/Index/@item.Id">@item.Name</a></li>
        }
        @* <li><a class="dropdown-item" href="/Posts">Tüm Eğitimlerimiz</a></li> *@
        <li><a class="dropdown-item" asp-controller="Posts" asp-action="Index">Tüm Eğitimlerimiz</a></li>
    </ul>
</li>
